# Define variables

# auth
var.auth_username = "%user%"
var.auth_userfile = "%users_dir%/%user%/auth/users.htdigest"

# secdownload
var.secdl_secret        = "%secdl_secret%"
var.secdl_timeout       = %secdl_timeout%
var.secdl_document_root = "%home%" + "/" + userdir_path
var.secdl_uri_prefix    = "/~%user%" + url_secdl_uri_prefix

# Source configuration
include "%conf_dir%/%templ_name%.conf"
